@mixin animate($animation,$duration,$method,$times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name}{
    @content;
  }
}

$interval: 1s;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "toolbar toolbar"
  "input diagram"
  "output diagram";
  grid-template-rows: 5vh 40vh 45vh;
  row-gap: 2vh;
  @media screen and (max-width: 575px) {
    grid-template-areas:
    "toolbar"
    "input"
    "output"
    "diagram";
    grid-template-rows: 5vh repeat(3, 1fr);
  }
}
button {
  cursor: pointer;
}

textarea, #program {
  display: block;
  margin: 0 1em;
  border: thin solid silver;
  padding: 1em;
}

textarea {
  resize: vertical;
  grid-area: input;
}

#program {
  grid-area: output;
}

#diagram {
  grid-area: diagram;
  border: thin solid silver;
}
.toolbar {
  grid-area: toolbar;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  background-color: lightsteelblue;
  .play {
    min-width: 10%;
  }
  .settings {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.line {
  .char {
    white-space: pre;
    display: inline-block;

    &.active {
      @include keyframes(highlight) {
        0% {
          color: blue;
          background-color: yellow;
        }
        100% {
          color: inherit;
          background-color: inherit;
        }
      }
      @include animate(highlight, $interval, linear, 1);
    }

    &.activeScope {
      background-color: lightblue;
    }
  }
}
